body { 
    margin: 0;  
    padding: 0;
    color: #333;
    background-size: cover; 
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-position: center center;
    font-family: '1666963922', sans-serif;
    background-color: #e5e7eb;
}  

.product-card {
  overflow: hidden;
}

.text-clamp {
  display: -webkit-box;
  /* 设置显示的行数 */
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.product-card:hover .text-clamp {
  -webkit-line-clamp: unset;
  white-space: normal;
  overflow: auto;
}

.icon {
    background-size: contain !important;
}

.icon-al {
    background-image: url('https://www.jetbrains.com/favicon.ico?r=1234');
}

.icon-ii {
    background-image: url('../images/intellij-idea.svg?v=1');
}

.icon-ps {
    background-image: url('../images/phpstorm.svg?v=1');
}

.icon-db {
    background-image: url('../images/datagrip.svg?v=1');
}

.icon-rm {
    background-image: url('../images/rubymine.svg?v=1');
}

.icon-ws {
    background-image: url('../images/webstorm.svg?v=1');
}

.icon-rd {
    background-image: url('../images/rider.svg?v=1');
}

.icon-cl {
    background-image: url('../images/clion.svg?v=1');
}

.icon-pc {
    background-image: url('../images/pycharm.svg?v=1');
}

.icon-go {
    background-image: url('../images/goland.svg?v=1');
}

.icon-ds {
    background-image: url('../images/dataspell.svg?v=1');
}

.icon-dc {
    background-image: url('../images/dotcover.svg?v=1');
}

.icon-dpn {
    background-image: url('../images/dottrace.svg?v=1');
}

.icon-dm {
    background-image: url('../images/dotmemory.svg?v=1');
}

.icon-rr {
    background-image: url('../images/rustrover.svg?v=1');
}

.icon-qa {
    background-image: url('../images/aqua.svg?v=1');
}
